.Header {
    background-color: #f8f7f7;
    padding: 0 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px #ccc;
}

.Header div {
    padding: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}