.card {
    /* padding: 15px; */
    border: 1px solid #000;
    border-radius: 10px;
}
.card h5 {
    padding: 10px;
}
.card .cardBody {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}
.card .cardBody img {
    width: 30px;
    height: 30px;
}
.card .cardBody h2 {
    line-height: 0.8;
}

.card .cardFooter {
    background-color: #b1f98b;
    padding: 6px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}