.card {
    padding: 0 !important;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 5px;
}
.card h5 {
    padding: 10px;
}
.card .cardBody {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}
.card .cardBody img {
    width: 30px;
    height: 30px;
}
.card .cardBody h2 {
    line-height: 0.8;
}

.card .cardFooter {
    background-color: #b1f98b;
    padding: 6px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.loanSub {
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 20px;
}

.loanSub .loanRepay {
    display: flex;
    gap: 10px;
}
.loanSub .loanRepay img {
    width: 30px;
}
.loanSub .loanRepay a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}