.Overview {
    display: flex;
    gap: 20px;
    padding: 20px 10px 20px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
}
.Overview div {
    flex: 1;
}
.Overview .balance p, .Overview .loan p, .Overview .savings p{
    margin-top: 15px;
}
.Overview .balance a, .Overview .loan a, .Overview .savings a {
    color: #fff;
    font-weight: 700;

}
.Overview .balance, .Overview .loan, .Overview .savings{
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    box-shadow: 3px 3px 5px #ccc;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.Overview .loan {
    background: #000;
}

.Overview .savings {
    background: linear-gradient(90deg, #409e40, #a8f9c0);
}

.Overview .savings img {
    width: 32px;
    height: 32px;
}

.shorthands {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 93%;
    margin: auto;
}
.shorthands img {
    width: 34px;
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 5px;
}
.shorthands div {
    
}
.shorthands div a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.transferHistory {
    /* padding: 30px; */
    margin-top: 45px;
}
.transTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.transTop a {
    color: blue;
}
.transferHistory .transContent {
    display: flex;
    justify-content: space-between;
    background-color: #f6f5f5;
    border: 1px solid #eaeaea;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
}
.transferHistory .transContent .transDetails {
    display: flex;
    align-items: center;
    gap: 10px;
}

.transferHistory .transContent .transDetails span {
    background-color: #ccc;
    padding: 7px;
    border-radius: 50%;
    font-size: 24px;
}
.transferHistory .transContent .transDetails p {
    font-size: 14px;
}


@media (min-width: 320px) and (max-width: 440px) {
    .Overview {
        overflow: hidden;
        height: 100%;
    }
    /* .Overview .balance, .Overview .loan, .Overview .savings {

        width: 300px !important;
    } */
     .Overview .balance, .Overview .loan, .Overview .savings {
        width: 100%;
        flex: none;
     }

     .shorthands {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #fff;
        padding: 15px 5px;
        border-radius: 15px;
        width: 100%;
     }
     .shorthands a {
        font-size: 0.9rem;
        text-wrap: nowrap;
     }
     .transferHistory  {
        margin-bottom: 50px;
     }
}