.Heroe {
    height: 90vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* padding: 0 30px; */
    width: 90%;
    margin: auto;
}
.Heroe .heroeContent {
    width: 50%;
}
.Heroe .heroeContent h2{
    font-size: 4rem;
    font-weight: 900;
    font-family: "Cal Sans";
}
.Heroe .heroeContent p {
    color: #3a3a3a;
}
.Heroe .heroeContent  .callToAction {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.Heroe .heroeContent  .callToAction button {
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    box-shadow: 3px 3px 5px #ccc;
    cursor: pointer;
}
.Heroe .heroeContent  .callToAction .scBtn {
    background: linear-gradient(90deg, #bbb2ef, #ee0979);
}
.Heroe img {
    width: 500px;
}