.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* padding: 0 30px; */
    box-shadow: 0 -2px 10px #ccc;
    background-color: #000;
    color: #fff;
}
.Footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    padding-top: 50px;
}
.Footer .container ul {
    list-style: none;
}
.Footer .container .usefulLinks ul {
    width: 50%;
}
.Footer .container .usefulLinks {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

.Footer .container .usefulLinks li {
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
.Footer .container .usefulLinks a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}
.Footer .navbrand h3 {
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Cal Sans", sans-serif;
}
.Footer .navbrand p {
    color: #fff;
}

.Footer .container .contact {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px;
}

.Footer .container .contact ul p {
    text-wrap: nowrap;
}
.Footer .container .contact ul .social {
    width: 30%;
}
.Footer .container .contact ul .social ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.Footer .container .contact ul .social li {
    width: 30px;
    height: 30px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px #303030;
    border-radius: 3px;
    cursor: pointer;
}

.Footer .container .contact ul .social .insta {
background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.Footer .container .contact ul .social .twitter,
.Footer .container .contact ul .social .tiktok {
    background-color: #000;
}

.Footer .container .contact ul .social .linkedin{
    background-color: #0077B5;
}
.Footer .container .contact ul .social .youtube{
    background-color: #f00;
}

.Footer .footerBottom {
    background-color: #0e0e0e;
    padding: 10px;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 440px) {
    .Footer {
        height: 100%;
    }
    .Footer .container {
    /* display: grid; */
    grid-template-columns: 1fr;
    width: 95%;
    padding-top: 50px;
    gap: 20px;
}
.Footer .container .usefulLinks, .Footer .container .contact  {
    display: inline-block;
    margin-bottom: 15px;
}
}