.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    box-shadow: 2px 2px 10px #ccc;
}
.Header .navbrand h3 {
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Cal Sans", sans-serif;
}
.Header .navlinks {
    list-style: none;
    display: flex;
    gap: 20px;
}
.Header .navlinks a {
    text-decoration: none;
    color: #000;
    height: 30px;
}
.Header .navlinks a:hover{
    border-bottom: 3px solid #ee0979;
}
.Header .navlinks i {
    cursor: pointer;
}
.Header .navlinks a.btn {
    background: linear-gradient(90deg, #bbb2ef, #ee0979);
    color: #fff;
    padding: 5px 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}